h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

myApp {
  box-direction: inherit;
  border-radius: initial;
  display: block;
  height: max-content;
  background: scroll;
  border-top: crimson;
  width: max-content;
}

textarea {
  width: auto;
  max-height:  max-content;
}

colgroup ::before {
  margin: auto;
  color-adjust: initial;
  content: counter(-apple-system);
}